@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}


/*Navbar*/
#navbar{
    width: 100%;
    height: 60px;
     /* position: fixed;  */
}

#navbar-container{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 32, 0);
}

.logo{
    width: 200px;
    padding-left: 70px;
}

#navbar-items{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    padding-right: 100px;
    padding-top: 20px;
  

}

#navbar-items li{
    padding: 10px;
}

#navbar-items li a{
    color: #d1f9d9;
    font-weight: bold;
    text-decoration: none;
    font-size: small;
}

#navbar-items a:hover{
    color:darkolivegreen;
}

/* Fim da navbar */

/* Cards frutas */
.card-deck{
   margin: 60px 200px;
}


.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}


.btn {
  margin-top: auto;
}

/* Card vitamina */
.quebrasecao{
    background-color: rgba(222, 222, 222, 0.595);
    height: 360px;
 
}

.titulo{
    text-align: center;
    margin-top: 10px;
}

.links{
    width: 200px;
}


footer{
    clear: both;
    background: rgb(9, 32, 0);
    color: #eee;
    padding: 30px;
    height: 100px;
    margin-top: 50px;
    text-align: left;
    display: inline-block;
    
}


#textorodape{
    width: 300px;
    text-align: left;
    float: left;
}

#redessociais{
    float: right;
    width: 200px;
    justify-items: center;
    
}

.iconesocial{
    width: 30px;
    margin: 5px;
}

#legenda{
    width:200px;
    text-align: center;
}

#legenda a{
    color: rgb(68, 163, 30);
}

#legenda a:hover{
    color: rgb(9, 32, 0);
    text-decoration: none;

}

.links{
    cursor: pointer; 
}

#pdf a{
    color: rgb(68, 163, 30);
    cursor: pointer;
}

#pdf a:hover{
    color: rgb(9, 32, 0);
    text-decoration: none;

}

#linkvideos a{
    color: rgb(9, 32, 0);
    cursor: pointer;
}

#linkvideos a:hover{
    color: rgb(68, 163, 30);
    text-decoration: none;

}

/* menu frutas */
/*Navbar*/
#navbarfrutas{
    width: 100%;
    height: 40px;
    text-align: center;
}

#navbarfrutas-container{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(85, 118, 72);
    
}


#navbarfrutas-items{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    margin: auto auto;
}

#navbarfrutas-items li{
    padding: 10px;
}

#navbarfrutas-items li a{
    color: #d1f9d9;
    text-decoration: none;
}

#navbarfrutas-items a:hover{
    color:rgb(255, 255, 255);
}

.topo{
    float: right;
    padding-right: 30px;
    padding-top: 60px;
}

.topomaiscurto{
    float: right;
    margin-right: 30px;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 10px;

}


